<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IoTtalk Homepage</title>
  <link rel="stylesheet" href="/static/font.css">
</head>
<body>
    <h4 style="margin-bottom:0;">IoTtalk: this web is for 2.iottalk.tw</h4>
<div>
    <ul style="margin:0;">
      <li><a href="#" onclick="window.open('https://2ccm.iottalk.tw/connection', '_blank');">Project</a></li>
      <li><a href="#" onclick="window.open('https://2ccm.iottalk.tw/dfm', '_blank');">Device Feature Management</a></li>
      <!--      <li><a href="#" onclick="window.open('http://'+location.hostname+':7788/download_feature', '_blank');">Download Device Feature</a></li>-->
      <li><a href="#" onclick="window.open(window.location.origin+'/list_all', '_blank');">Device Monitor</a></li>
      <li><a href="#" onclick="window.open('https://2ccm.iottalk.tw/projectMgr', '_blank');">Project Management </a></li>
    </ul>
  </div>

  <div>
  <h4 style="margin-bottom:0;">Cyber Device List:</h4>
    <ul style="margin:0;">
      
      <li><a href="/da/Bulb" target='_blank'>Bulb</a></li>
      
      <li><a href="/da/GPS" target='_blank'>GPS</a></li>
      
      <li><a href="/da/Message" target='_blank'>Message</a></li>
      
      <li><a href="/da/R2" target='_blank'>R2</a></li>
      
      <li><a href="/da/RandNum" target='_blank'>RandNum</a></li>
      
      <!-- <li><a href="/da/Smartphone" target='_blank'>Smartphone</a></li> -->
      
      <li><a href="/da/Smartphone_HTTP" target='_blank'>Smartphone_HTTP</a></li>
      
      <!--
      <li><a href="/da/vp/web_py_index.html#3DMotion1" target='_blank'>3DMotion1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#3DMotion2" target='_blank'>3DMotion2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#AirResistance1" target='_blank'>AirResistance1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#AirResistance2" target='_blank'>AirResistance2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Ball-Slid" target='_blank'>Ball-Slid</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Ball-Slide1" target='_blank'>Ball-Slide1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Ball-Slide2" target='_blank'>Ball-Slide2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Ball-Spin" target='_blank'>Ball-Spin</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Ball-throw1" target='_blank'>Ball-throw1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Ball-throw2" target='_blank'>Ball-throw2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Collision1" target='_blank'>Collision1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Collision2" target='_blank'>Collision2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Collision3" target='_blank'>Collision3</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Collision4" target='_blank'>Collision4</a></li>
      
      <li><a href="/da/vp/web_py_index.html#ConicalPendulum1" target='_blank'>ConicalPendulum1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#ConicalPendulum2" target='_blank'>ConicalPendulum2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#ElasticCollision1" target='_blank'>ElasticCollision1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Free-FallandProjectileMotion2" target='_blank'>Free-FallandProjectileMotion2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Free_Fall2" target='_blank'>Free_Fall2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#HookesLaw1" target='_blank'>HookesLaw1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#IdealGas" target='_blank'>IdealGas</a></li>
      
      <li><a href="/da/vp/web_py_index.html#KeplersLaws1" target='_blank'>KeplersLaws1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#KeplersLaws2" target='_blank'>KeplersLaws2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Momentum1" target='_blank'>Momentum1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Pendulum2" target='_blank'>Pendulum2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#PlanetRevolution1" target='_blank'>PlanetRevolution1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#PlanetRevolution2" target='_blank'>PlanetRevolution2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Precession" target='_blank'>Precession</a></li>
      
      <li><a href="/da/vp/web_py_index.html#ProjectileMotion1" target='_blank'>ProjectileMotion1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Simple_Pendulum" target='_blank'>Simple_Pendulum</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Specular_Reflection" target='_blank'>Specular_Reflection</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Spring-SHM" target='_blank'>Spring-SHM</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Spring-SHM1" target='_blank'>Spring-SHM1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Spring-SHM2" target='_blank'>Spring-SHM2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#TableTennis" target='_blank'>TableTennis</a></li>
      
      <li><a href="/da/vp/web_py_index.html#UniformAcceleratedMotion1" target='_blank'>UniformAcceleratedMotion1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#UniformAcceleratedMotion2" target='_blank'>UniformAcceleratedMotion2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#UniformCircularMotion1" target='_blank'>UniformCircularMotion1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#UniformCircularMotion2" target='_blank'>UniformCircularMotion2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#UniformMotion1" target='_blank'>UniformMotion1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#UniformMotion2" target='_blank'>UniformMotion2</a></li>
      -->

<!--
	  <li><a href="#" target='_blank' onclick="window.open('http://'+location.hostname+':5566', '_blank');">MusicBox</a></li>
      <li><a href="#" target='_blank' onclick="window.open('http://'+location.hostname+':5566/mboxctl', '_blank');">MusicBoxController</a></li>
-->

    </ul>

<div style="background:white;height:0.10rem;"></div>
<div style="background:darkgreen;height:0.25rem;"></div>
<span
 style="color:#FF3836;font-size:1.25rem;"> &nbsp; [ df .  RESULT u--vg-root   5565612 3838144   1421704  73%  ]]] Prpcess: 145
</span>
<div style="background:blue;height:0.25rem;"></div>

  <h4 style="margin-bottom:0;">VPython List:</h4>
    <ul style="margin:0;">
      
      <!-- <li><a href="/da/vp/web_py_index.html#3DMotion1" target='_blank'>3DMotion1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#3DMotion2" target='_blank'>3DMotion2</a></li> -->
      
      <!-- <li><a href="/da/vp/web_py_index.html#AirResistance1" target='_blank'>AirResistance1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#AirResistance2" target='_blank'>AirResistance2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Ball-Slid" target='_blank'>Ball-Slid</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Ball-Slide1" target='_blank'>Ball-Slide1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Ball-Slide2" target='_blank'>Ball-Slide2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Ball-Spin" target='_blank'>Ball-Spin</a></li> -->
      
      <li><a href="/da/vp/web_py_index.html#Ball-throw1" target='_blank'>Ball-throw1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Ball-throw2" target='_blank'>Ball-throw2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Collision1" target='_blank'>Collision1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Collision2" target='_blank'>Collision2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Collision3" target='_blank'>Collision3</a></li>
      
      <!-- <li><a href="/da/vp/web_py_index.html#Collision4" target='_blank'>Collision4</a></li> -->
      
      <!-- <li><a href="/da/vp/web_py_index.html#ConicalPendulum1" target='_blank'>ConicalPendulum1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#ConicalPendulum2" target='_blank'>ConicalPendulum2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#ElasticCollision1" target='_blank'>ElasticCollision1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Free-FallandProjectileMotion2" target='_blank'>Free-FallandProjectileMotion2</a></li>
       -->
      <li><a href="/da/vp/web_py_index.html#Free_Fall2" target='_blank'>Free_Fall2</a></li>
      
      <!-- <li><a href="/da/vp/web_py_index.html#HookesLaw1" target='_blank'>HookesLaw1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#IdealGas" target='_blank'>IdealGas</a></li>
      
      <li><a href="/da/vp/web_py_index.html#KeplersLaws1" target='_blank'>KeplersLaws1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#KeplersLaws2" target='_blank'>KeplersLaws2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Momentum1" target='_blank'>Momentum1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Pendulum2" target='_blank'>Pendulum2</a></li> -->
      
      <!-- <li><a href="/da/vp/web_py_index.html#PlanetRevolution1" target='_blank'>PlanetRevolution1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#PlanetRevolution2" target='_blank'>PlanetRevolution2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Precession" target='_blank'>Precession</a></li>
      
      <li><a href="/da/vp/web_py_index.html#ProjectileMotion1" target='_blank'>ProjectileMotion1</a></li> -->
      
      <li><a href="/da/vp/web_py_index.html#Simple_Pendulum" target='_blank'>Simple_Pendulum</a></li>
      
      <!-- <li><a href="/da/vp/web_py_index.html#Specular_Reflection" target='_blank'>Specular_Reflection</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Spring-SHM" target='_blank'>Spring-SHM</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Spring-SHM1" target='_blank'>Spring-SHM1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#Spring-SHM2" target='_blank'>Spring-SHM2</a></li> -->
      
      <li><a href="/da/vp/web_py_index.html#TableTennis" target='_blank'>TableTennis</a></li>
      
      <!-- <li><a href="/da/vp/web_py_index.html#UniformAcceleratedMotion1" target='_blank'>UniformAcceleratedMotion1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#UniformAcceleratedMotion2" target='_blank'>UniformAcceleratedMotion2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#UniformCircularMotion1" target='_blank'>UniformCircularMotion1</a></li>
      
      <li><a href="/da/vp/web_py_index.html#UniformCircularMotion2" target='_blank'>UniformCircularMotion2</a></li>
      
      <li><a href="/da/vp/web_py_index.html#UniformMotion1" target='_blank'>UniformMotion1</a></li> -->
      
      <!-- <li><a href="/da/vp/web_py_index.html#UniformMotion2" target='_blank'>UniformMotion2</a></li> -->
      
    </ul>

<div style="background:red;height:0.5rem;"></div>
<span
 style="color:#FF3836;font-size:1.25rem;"> &nbsp; [ htop  top:: 1h=?25l39; ?1000h39; HJ1B  

<br>CPU [                           0.0% ]m   Tasks:  65, 38 thr;   1 running3;3H

<br>Mem [|||||||||m##********  569M/1.95G ]m   L

Load average:  0.00 m0.00  0.00 4;3Hm


<br>Swp [                       0K/2.00G ]m   Uptime:  16:31:40
2B0;7m  PID USER      PRI  NI  VIRT   RES   SHR S 

<br>CPU% MEM%   TIME+  Command          7;1H    1 root       20   0</span>
<div style="background:blue;height:0.5rem;"></div>
<div style="color:black;font-size:1.35rem;background:lightYellow;width:68vw;"
><strong>
====== Web Application vs. Web Service
<p style="margin-left:2vw;">
A Web Application is meant for humans to read, while a Web Service is meant for computers to read. Web Application is a complete Application with a Graphical User Interface (GUI), however, web services do not necessarily have a user interface since it is used as a component in an application.
</p>
<p style="background:lightGreen;margin-left:2vw;">
Note that flask's template engine (jinja2) assumes that input inside of { { } } is unsafe and will not allow js or html to be rendered inside of it.
</p>
<br>
o <a target=_blank
    href="https://medium.com/seaniap/python-web-flask-jinja2%E6%A8%A3%E7%89%88%E5%BC%95%E6%93%8E%E7%9A%84%E4%BD%BF%E7%94%A8-f71305e2da34"
  ><span style="color:blue;background:yellow;font-size:1.75rem;"
  >Python Web Flask — Jinja2樣版引擎的使用</span></a>
<br>
<br>
</strong></div>

  </div>
</body>
</html>